@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #182b55;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

main {
  display: flex;
  flex-flow: row nowrap;
}
section {
  padding-bottom: 100vh;
}
.HeaderContainer {
  z-index: 2;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  background-color: #132344;
}
.logo {
  font-size: 40px;
  padding-left: 25px;
  background-color: #132344;
  border-style: none;
  cursor: pointer;
  color: rgb(226, 226, 226);
  outline: none;
}
.headerSearch input {
  box-sizing: content-box;
  border-style: none;
  height: 40px;
  font-size: 15px;
  width: 195px;
  color: rgb(226, 226, 226);
  border-radius: 30px;
  text-align: center;
  background-color: #0c1629;
  margin-left: 30px;
  padding: 0 20px;
  text-align: start;
  outline: none;
}
.headerSearch input:focus {
  box-shadow: 0 0 5px 3px #55a7f3;
  transition: all ease 0.3s;
}
.headerSearch button {
  position: absolute;
  border-style: none;
  top: 17px;
  left: 300px;
  background-color: #0c1629;
  color: rgb(226, 226, 226);
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.headerSearch button :hover {
  color: rgb(221, 58, 58);
}

aside {
  background-color: #0f1b35;
  display: flex;
  flex-direction: column;
  min-width: 90px;
  box-shadow: 2px 1px 5px #111113;
  z-index: 1;
}
.NavContainer {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
}
.NavContainer div {
  text-align: center;
}
.NavContainer button {
  background-color: #0f1b35;
  color: #55a7f3;
  border-style: none;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px 10px;
}
.NavContainer button:active {
  background-color: #1c305c;
  border-radius: 10px;
}

.NavContainer button path {
  margin: 10px;
}
.NavContainer button div {
  color: rgb(226, 226, 226);
  padding-top: 5px;
}
.NavContainer svg {
  font-size: 45px;
}
.Moive_Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 30px;
}
.currentPage {
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin: 100px 0 30px 30px;
}

.Movies {
  display: flex;
  flex-flow: row wrap;
  max-width: 200px;
  height: 300px;
  cursor: pointer;
  text-align: left;
  margin: 50px 20px;
}
.Movie_Poster:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}
.Release_Date {
  font-size: 16px;
  color: #c4c2c2;
  margin: 10px 0 5px;
}
.Movie_Title {
  width: 100%;
  font-size: 16px;
}
.Movie_Poster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
}
.closeBtn {
  position: absolute;
  top: 17px;
  right: 23px;
  font-size: 30px;
  background: none;
  color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}
.closeBtn:active {
  color: rgb(221, 58, 58);
}
.detailContainer {
  display: flex;
  height: 100vh;
  margin-top: 60px;
  justify-content: center;
  background: fixed;
  top: 0;
  flex-wrap: wrap;
}
.backdropContainer {
  width: 100%;
}
.backdropImg {
  width: 100%;
  top: 10px;
  height: 50vh;
  object-fit: cover;
  opacity: 0.2;
}
/* .backShadow {
  box-shadow: inset 0 -0px 95px 99px #182b55;
  height: 50vh;
  position: absolute;
  top: 60px;
  width: 91.4%;
} */
.movieDetail {
  display: flex;
  position: relative;
  background-color: rgb(8, 15, 29);
  width: 950px;
  padding: 40px;
  border-radius: 7px;
  align-items: center;
  bottom: 30vh;
}

.detailImg {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
}
.detailInfo {
  display: inline-block;
  height: inherit;
  padding: 0 50px;
}
.detailTitle {
  font-size: 40px;
  padding-bottom: 20px;
}
.detailGenres {
  font-size: 18px;
  padding-bottom: 10px;
  color: #b8b8b8;
}
.detailRuntime {
  font-size: 18px;
  padding-bottom: 10px;
  color: #b8b8b8;
}
.detailDate {
  font-size: 18px;
  padding-bottom: 20px;
  color: #b8b8b8;
}
.detailVote {
  padding-bottom: 35px;
}
.detailOverviewTitle {
  font-size: 24px;
  padding-bottom: 10px;
}
.detailOverview {
  font-size: 20px;
  line-height: 24px;
}

.modalDiv {
  position: fixed;
  background-color: rgb(255, 86, 86);
  top: -100px;
  right: 30px;
  cursor: pointer;
  height: 100px;
  width: 300px;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.modalActive {
  transform: translateY(200px);
  transition-timing-function: ease-in;
}
.modalText {
  font-size: 24px;
}
@media screen and (max-width: 1130px) {
  aside {
    min-width: 70px;
  }
  .NavContainer button {
    margin: 10px 5px;
    background-color: #0f1b35;
    color: #55a7f3;
    border-style: none;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }
  .movieDetail {
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    align-items: flex-start;
    padding: 20px;
    bottom: 46vh;
  }
  .NavContainer svg {
    font-size: 35px;
  }
  .detailImg {
    width: 240px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
  }
  .detailInfo {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .closeBtn {
    position: absolute;
    top: -24px;
    right: 23px;
    font-size: 30px;
    background: none;
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
  }
}
