@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #182b55;
  color: white;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: row nowrap;
}
/* section {
  padding-bottom: 100vh;
} */
.article {
  padding-top: 7vh;
  flex: 1 1 0%;
  width: 100%;
}
.headerContainer {
  z-index: 2;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  background-color: #132344;
}
.logo {
  font-size: 40px;
  padding-left: 25px;
  background-color: #132344;
  border-style: none;
  cursor: pointer;
  color: rgb(226, 226, 226);
  outline: none;
}
.headerSearch input {
  box-sizing: content-box;
  border-style: none;
  height: 40px;
  font-size: 15px;
  width: 195px;
  color: rgb(226, 226, 226);
  border-radius: 30px;
  text-align: center;
  background-color: #0c1629;
  margin-left: 30px;
  padding: 0 20px;
  text-align: start;
  outline: none;
}
.headerSearch input:focus {
  box-shadow: 0 0 5px 3px #55a7f3;
  transition: all ease 0.3s;
}
.headerSearch button {
  position: absolute;
  border-style: none;
  top: 13px;
  left: 300px;
  background-color: #0c1629;
  color: rgb(226, 226, 226);
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.headerSearch button :hover {
  color: rgb(221, 58, 58);
}

aside {
  background-color: #0f1b35;
  display: flex;
  flex-direction: column;
  min-width: 90px;
  box-shadow: 2px 1px 5px #111113;
  z-index: 1;
}
.navContainer {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
}
.navContainer div {
  text-align: center;
}
.navContainer button {
  background-color: #0f1b35;
  color: #55a7f3;
  border-style: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px 0;
}
.navContainer button:active {
  background-color: #1c305c;
  border-radius: 10px;
}

.navContainer button path {
  margin: 10px;
}
.navContainer button div {
  color: rgb(226, 226, 226);
  padding-top: 5px;
}
.navContainer svg {
  font-size: 45px;
}
.movieContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 30px;
}
.currentPage {
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin: 100px 0 30px 30px;
}

.movies {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  max-width: 200px;
  height: 300px;
  cursor: pointer;
  text-align: left;
  margin: 50px 20px;
}
.moviePoster:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}
.releaseDate {
  font-size: 16px;
  color: #c4c2c2;
  margin: 10px 0 5px;
}
.movieTitle {
  width: 100%;
  font-size: 16px;
}
.moviePoster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
}
.emptyHeart {
  border-style: none;
  background: none;
  color: white;
  font-size: 40px;
  outline: none;
  cursor: pointer;
}
.fillHeart {
  border-style: none;
  background: none;
  color: white;
  font-size: 42px;
  outline: none;
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  top: 107px;
  right: 23px;
  font-size: 30px;
  background: none;
  color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}
.closeBtn:active {
  color: rgb(221, 58, 58);
}
.deleteButton {
  margin-top: 5px;
  font-size: 30px;
  background: none;
  border-style: none;
  outline: none;
  cursor: pointer;
  color: white;
  position: relative;
  left: 156px;
}
.detailContainer {
  margin-top: 60px;
  min-height: calc(100vh - 120px);
  margin: 0px auto;
  padding: 100px 30px;
}
.backdropImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  border-radius: 10px;
  filter: blur(5px) opacity(70%) brightness(50%);
  z-index: -1;
}
/* .backShadow {
  box-shadow: inset 0 -0px 95px 99px #182b55;
  height: 50vh;
  position: absolute;
  top: 60px;
  width: 91.4%;
} */
.movieDetail {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 40px;
  margin-bottom: 100px;
}

.detailImg {
  border-radius: 10px;
  box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
  width: 100%;
  height: auto;
}
.detailInfo {
  width: 100%;
}
.detailTitle {
  font-size: 40px;
  padding-bottom: 20px;
}
.detailGenres {
  font-size: 18px;
  padding-bottom: 10px;
  color: #b8b8b8;
}
.detailRuntime {
  font-size: 18px;
  padding-bottom: 10px;
  color: #b8b8b8;
}
.detailDate {
  font-size: 18px;
  padding-bottom: 20px;
  color: #b8b8b8;
}
.detailVote {
  padding-bottom: 20px;
}
.detailOverviewTitle {
  font-size: 24px;
  padding-bottom: 10px;
}
.detailOverview {
  font-size: 20px;
  line-height: 30px;
}

.videos {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.videosLink {
  text-decoration: none;
  color: white;
}
.videosImg {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
/* .videosTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
} */
.similarPoster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
}

.inPosterText {
  position: absolute;
  top: 0px;
  left: 0px;
  /* z-index: 1; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inPosterText:hover {
  opacity: 1;
}

.modalDiv {
  position: fixed;
  background-color: rgb(255, 86, 86);
  top: -100px;
  right: 30px;
  cursor: pointer;
  height: 100px;
  width: 300px;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.modalActive {
  transform: translateY(200px);
  transition-timing-function: ease-in;
}
.modalText {
  font-size: 24px;
}
@media screen and (max-width: 1290px) {
  aside {
    min-width: 70px;
  }
  .navContainer button {
    margin: 10px 5px;
    background-color: #0f1b35;
    color: #55a7f3;
    border-style: none;
    font-size: 12px;
    outline: none;
    cursor: pointer;
  }
  .movieDetail {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  .navContainer svg {
    font-size: 35px;
  }
  /* .detailimgBox {
    margin: 0 auto;
  } */
  .detailImg {
    width: 40%;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 6px 6px 14px rgb(0 0 0 / 42%);
  }
  .detailTitle {
    text-align: center;
    margin-left: 0px;
  }
  .detailGenres {
    text-align: center;
  }
  .detailRuntime {
    text-align: center;
  }
  .detailDate {
    text-align: center;
  }
  .detailVote {
    text-align: center;
  }
  .detailOverviewTitle {
    display: none;
  }
  .detailInfo {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .closeBtn {
    position: absolute;
    top: -24px;
    right: 23px;
    font-size: 30px;
    background: none;
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
  }
  .detailImg {
    width: 60%;
  }
}
